{% extends 'base.html' %}

{% block title %} | {{ name }}{% endblock %}

{% block main %}
<div class="page-header">
    <div class="container">
        <h1 class="smaller">
            <a href="{% url 'geokey_extension_boilerplate:index' %}">{{ name }}</a>
        </h1>
    </div>
</div>

<div class="container">
    {% include 'snippets/messages.html' %}

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="item-info">Extension</h6>
                    <h3>{{ name }}</h3>
                </div>

                <div class="list-group">
                    <!-- Navigation -->
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <!-- Content -->
        </div>
    </div>
</div>
{% endblock %}

{% block libraries %}
<!-- Additional CSS/JS libraries -->
{% endblock %}
